sakerhetssm.se {
	encode gzip

	handle /api/* {	
		uri strip_prefix /api
		reverse_proxy api:8000
	}
	
	handle {
		reverse_proxy frontend:3000
	}
}

www.sakerhetssm.se, säkerhetssm.se, www.säkerhetssm.se {
	handle {
		redir https://sakerhetssm.se
	}
}