sakerhetssm.se {
	encode gzip

	handle /api/* {	
		uri strip_prefix /api
		reverse_proxy api:8000
	}
	
	handle {
		reverse_proxy frontend:3000
	}
}

spooktober.sakerhetssm.se {
	handle {
		root * /var/www/spooktober
		try_files {path} /index.html
		file_server
	}
}