sakerhetssm.se {
	encode gzip

	handle /api/* {	
		uri strip_prefix /api
		reverse_proxy api:8000
	}
	
	handle {
		reverse_proxy frontend:3000
		header {
			-x-powered-by
			-server

			content-security-policy "base-uri 'none'; object-src 'none'; script-src 'unsafe-inline' 'self'; script-src-attr 'none'; frame-ancestors 'none'; img-src 'self'; upgrade-insecure-requests; form-action https://mail.sakerhetssm.se/subscription/form"

			strict-transport-security max-age=31536000;
			referrer-policy no-referrer
			x-content-type-options nosniff
		}
	}
}

www.sakerhetssm.se, xn--skerhetssm-q5a.se, www.xn--skerhetssm-q5a.se {
	redir https://sakerhetssm.se
}