$body-bg: #004454;
$body-color: #ffffff;

$green: #33b86f;
$red: #fc6500;
$yellow: #ffab1c;
$primary: $yellow;
$dark: #002c36;
$info: #008eae;

$code-color: $yellow;

$navbar-light-color: $yellow;
$navbar-light-hover-color: #ffffff;
$navbar-light-active-color: #ffffff;
$dropdown-link-hover-bg: $dark;

$link-color: #ffd07e;
$link-color-dark: #c4a166;


::-moz-selection {
    /* Code for Firefox */
    color: $dark;
    background: $link-color;
}

::selection {
    color: $dark;
    background: $link-color;
}

* {
    font-family: "Consolas", Monospace;
}

@import "bootstrap/scss/bootstrap";

.material-symbols-outlined {
    @extend .text-primary;

    vertical-align: middle;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}